@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  background-color: black;
  font-style: normal;
}
@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-6;
  }
}
